.top-strip {
    font-size: 1.25em;
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-image: linear-gradient(62deg, #F7CE68 0%, #FBAB7E 100%);
    padding: .25em 1em;

}

@media (min-width: 768px) {
    .top-strip{
        font-size: 1.5em;
    }
}
@media (min-width: 992px) {
    .top-strip{
        font-size: 1.75em;
    }
}