<h2 mat-dialog-title>Подтвердите перезапись</h2>
<mat-dialog-content>
    <p>ВНИМАНИЕ! Нажатие кнопки "Перезапись" приведёт к удалению всех текущих записей и замене их новыми.</p>
    <p>Нажатие кнопки "Добавить" приведёт к тому, что к существующим записям добавятся новые, текущие записи при этом останутся</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn-danger" (click)="rewriteAndClose()" tabindex="-1">Перезаписать</button>
    <button (click)="addAndClose()">Добавить</button>
</mat-dialog-actions>