<app-header></app-header>
<div class="content" id="content">
  <div class="grid">
    <div class="grid-item">
      <app-add-form (onSubmit)="addRecord($event)"></app-add-form>
    </div>
    <div class="grid-item">
      <div class="s-flex jcb mb-1">
        <input placeholder="Поиск..." #searchElem type="text" name="search" id="" (input)="search()">
        <div>Всего {{records.length}} паролей</div>
      </div>
      @if(searchNow)
      {
        <app-list [records]="found"></app-list>
      }
      @else {
        <app-list [records]="records"></app-list>
      }
    </div>
  </div>
</div>