<app-header></app-header>
<div class="content">
  <div class="flex-grid">
    <div class="col-form">
      <app-add-form (onSubmit)="addRecord($event)"></app-add-form>
    </div>

    <div class="col-search">
      <div #rowSearch class="row-search">
        <div class="input">
          <input placeholder="Поиск... Esc" #searchElem type="text" name="search" id="" (input)="search()">
        </div>
        <div class="buttons">
          <div class="info">
            {{records.length}} ссылок
          </div>
          <div class="btn-download">
            <button #downloadButtonElem (click)="downloadJSON()" class="flex aic">
              <mat-icon svgIcon="download"></mat-icon>
              <span class="ms-05">Скачать</span>
            </button>
          </div>
          <div class="btn-upload">
            <button #uploadButtonElem (click)="uploadFile()" class="flex aic">
              <mat-icon svgIcon="upload"></mat-icon>
              <span class="ms-05">Загрузить</span>
            </button>
            <input type="file" #uploadFieldElem hidden="true">
          </div>
        </div>
      </div>
      <div class="row-records">
        @if(searchNow)
        {
        <app-list [records]="found"></app-list>
        }
        @else {
        <app-list [records]="records"></app-list>
        }
      </div>
    </div>
  </div>
</div>