.content{
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: calc(var(--header-height));
    padding-bottom: var(--content-padding-bottom);
    display: flex;
    justify-content: center;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: var(--grid-padding-top);
}
input{
    height: 1.75rem;   
    caret-color: var(--slate);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid 1px;
    border-radius: 5px;

    
}


@media (min-width: 740px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 4rem;
        padding-top: var(--grid-padding-top);
        
    }
    .content{
        padding-left:5rem;
        padding-right:5rem;
        display: flex;
        justify-content: center;
    
    }
}