.content{
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: calc(var(--header-height));
    padding-bottom: var(--content-padding-bottom);
    display: flex;
    justify-content: center;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1rem;
}

@media (min-width: 740px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 4rem;
        padding-top: var(--grid-padding-top);
        
    }
    .content{
        padding-left:5rem;
        padding-right:5rem;
        padding-top: calc(var(--header-height));
        display: flex;
        justify-content: center;
    
    }
}