.content{
    padding-left:5%;
    padding-right:5%;
    padding-top: calc(var(--header-height));
    padding-bottom: var(--content-padding-bottom);
    display: flex;
    justify-content: center;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: var(--grid-padding-top);
}
.grid-item{
    max-width: 100%;
    overflow-x: auto;
}
.btn:hover{
    cursor: pointer;
}
.transparent{
    background-color: transparent;
    border: 0;
}
input{
    height: 1.75rem;   
    caret-color: var(--slate);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid 1px;
    border-radius: 5px;

    
}

.s-flex{
    display: flex;
    flex-flow: row;
    align-items: center;
}


@media (min-width: 740px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 4rem;
        padding-top: var(--grid-padding-top);
        
    }
    .content{

        display: flex;
        justify-content: center;
    
    }
}