<app-header></app-header>
<div class="content">
  <div class="flex-grid">
    <div class="col-form">
      <app-add-form (onSubmit)="addRecord($event)"></app-add-form>
      <div class="mt-5">
        <p>8 апреля, 10:25 Мам, долетел нормально, здесь немного прохладно, но теплее чем в Москве</p>
        <img src="assets/img/2024-04-08 12-02-45.JPG" width="40%" alt="">
      </div>
    </div>
    <div class="col-search">
      <div class="row-search">
        <div class="input">
          <input placeholder="Поиск..." #searchElem type="text" name="search" id="" (input)="search()">
        </div>
        <div class="info">
          Всего {{records.length}} ссылок
        </div>
        <div class="btn-download">
          <button #downloadButtonElem (click)="downloadJSON()" class="flex aic">
            <mat-icon svgIcon="download"></mat-icon>
            <span class="ms-05">Скачать</span>
          </button>
        </div>
        <div class="ms-1">
          <button #uploadButtonElem (click)="uploadFile()" class="flex aic">
            <mat-icon svgIcon="upload"></mat-icon>
            <span class="ms-05">Загрузить</span>
          </button>
          <input type="file" #uploadFieldElem hidden="true">
        </div>
      </div>
      <div class="row-records">
        @if(searchNow)
        {
        <app-list [records]="found"></app-list>
        }
        @else {
        <app-list [records]="records"></app-list>
        }
      </div>
    </div>
  </div>
</div>
