@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marmelad&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

:root {
    --header: #EFBC9B;
    --text: rgb(50, 50, 50);
    --sand-light: #FBF3D5;
    --light-gray: #D6DAC8;
    --slate: #9CAFAA;
    --slate-dark: #708090;
    --slate-light: #B3C1D1;
    --success: #C5EBAA;

    --header-height:100px;
    --content-padding-bottom: 1rem;
    --grid-padding-top: 1rem;
}

.flex {
    display: flex;
    height: 100%;
}

.jcs {
    justify-content: start;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: end;
}
.jcb{
    justify-content: space-between;
}
.aic {
    align-items: center;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.my-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}
.mb-05{
    margin-bottom: 0.5rem;
}
.mb-1{
    margin-bottom: 1rem;
}   

.mb-2{
    margin-bottom: 2rem;
}


.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-05 {
    padding-bottom: 0.5rem;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.marmelad-regular {
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.fs16 {
    font-size: 16px;
}

.fs20 {
    font-size: 20px;
}

.fs24 {
    font-size: 24px;
}

.fs28 {
    font-size: 28px;
}

.fs32 {
    font-size: 32px;
}

.fs36 {
    font-size: 36px;
}

.fs40 {
    font-size: 40px;
}

.fs44 {
    font-size: 44px;
}
.d-block{
    display: block;
}
.overflow{
    overflow: hidden;
    text-overflow: ellipsis;
}


body {
    margin: 0;
    font-family: "Marmelad", sans-serif;
    font-size: 1.25rem;
    color: var(--text)
}
input,button{
    font-family: "Marmelad", sans-serif;
    color: var(--text);
    font-size: 1.25rem;
    
}